<div class="col-12 mt-5">
    Rating : 
    {{#stars}}
        {{# pix }} star, block_rate_course {{/ pix }}
    {{/stars}}
    {{#half}}
        {{# pix }} star-half, block_rate_course {{/ pix }}
    {{/half}}
</div>